table {
    width: 60%;
    margin: 0 auto 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
#saver {
    display: block;
    text-align: center;
    margin-top: 25px;
}
button {
    padding: 5px 15px 5px;
}
.hide {
    display: none;
}
span {
    padding: 0 5px 0;
    cursor: pointer;
}
.light {
    color: red;
    font-weight: 600;
    font-size: 1.1em;
}
.search {
    margin: 10px;
    text-align: center;
}