table {
    width: 60%;
    margin: 0 auto 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
#saver {
    display: block;
    text-align: center;
    margin-top: 25px;
}
button {
    padding: 5px 15px 5px;
}
.hide {
    display: none;
}
span {
    padding: 0 5px 0;
    cursor: pointer;
}
.light {
    color: red;
    font-weight: 600;
    font-size: 1.1em;
}
.search {
    margin: 10px;
    text-align: center;
}
.tooltip, .tooltip_sp {
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:#cccccc;
    padding:5px;
    border:1px solid rgb(109, 109, 109);
    width:180px;
    border-radius: 5px;
}

.tooltip p {
    margin:0;
    padding:0;
    color:rgb(49, 49, 49);
    padding:2px 7px;
}